@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script+Swash+Caps:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    ;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: white;
    position: sticky;
    top: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.logo {
    flex: 40%;
    text-align: left;
}

.logo h1 {
    font-family: 'Lobster', cursive;
    color: #465b65;
    font-size: 40px;

}

.menu {
    flex: 40%;
    text-align: right;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: #465b65;
    padding: 20px;


}

.menu a:hover {
    color: #ff2978;
    border-top: 4px solid #465b65;
}

#botao {
    background: #465b65;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #465b65;
}

#botao:hover {
    border: none;
    background-color: #ff2978;
}

.header {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.headline1 {
    flex: 40%;
    text-align: left;
}

.texto1 {
    letter-spacing: 10px;
    font-size: 22px;
    color: #ff2978;
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: 900;
}

.texto2 {
    font-size: 80px;
    font-weight: 900;
    color: #465b65;
    padding: 0;
    margin: 0;
    text-align: left;
}


.texto3 {
    text-align: justify;
    margin-bottom: 4%;
    color: gray;
    border-right: 4px solid #ff2978;
    border-left: 4px solid #ff2978;
    padding: 1%;

}

.botao-contrate {

    text-align: center;
    background-color: #ff2978;
    padding: 15px;
    color: aliceblue;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 4px 4px 4px #465b65;
    text-transform: uppercase;
}

.botao-contrate:hover {
    background-color: #465b65;
}

.headline2 {
    flex: 40%;
    text-align: right;

}

.headline2 img {
    max-width: 85%;
    height: 500px;
}

.section1 h2 {
    margin-top: 4%;
    text-align: center;
    font-family: lobster;
    color: #465b65;
    font-size: 45px;
}

.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.card1 {
    width: 300px;
    height: 300px;
    border: 2px solid #ff2978;
    border-radius: 10px;
    text-align: center;
    color: #465b65;
    font-size: 15px;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow: 4px 4px 4px #465b65;
}

.card1 h2 {
    font-family: lobster;
}

.card1 p {
    text-align: justify;
}

.card1:hover {
    background-color: #ff2978;
    box-shadow: 2px 2px 2px #465b65;
}

.card2 {
    width: 300px;
    height: 300px;
    border: 2px solid #ff2978;
    border-radius: 10px;
    text-align: center;
    color: #465b65;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow: 4px 4px 4px #465b65;
}

.card2 h2 {
    font-family: lobster;
}

.card2 p {
    text-align: justify;
}

.card2:hover:hover {
    background-color: #ff2978;
    box-shadow: 2px 2px 2px #465b65;
}

.card3 {
    width: 300px;
    height: 300px;
    border: 2px solid #ff2978;

    border-radius: 10px;
    text-align: center;
    color: #465b65;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow: 4px 4px 4px #465b65;
}

.card3 h2 {
    font-family: lobster;
}

.card3 p {
    text-align: justify;
}

.card3:hover {
    background-color: #ff2978;
    box-shadow: 2px 2px 2px #180f4a;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-left: 10%;
    margin-right: 10%;
}

.section3 img {
    margin-top: 5%;
    max-width: 85%;
    height: 500px;
    flex: 40%;
}

footer {
    border-top: 4px solid #ff2978;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-image: linear-gradient(#465b65, black);
    font-family: lobster;
    color: white;
    font-size: 25px;
}

footer h2 {
    margin-bottom: 2%;
}

footer p {
    font-family: roboto;
    font-size: 15px;
    color: white;

}

/*BOTÃO DE VOLTAR PARA O TOPO*/
.voltar-topo {
    color: #ff2978;
    text-decoration: none;
    font-size: 80px;
    position: fixed;
    right: 20px;
    bottom: 0;
}

/*BARRA DE ROLAGEM COLORIDA*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(white, #ff2978, #465b65);
}